# Use the latest 2.1 version of CircleCI pipeline processing engine, see https://circleci.com/docs/2.0/configuration-reference/
version: 2.1

jobs:
  test:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout

      - run:
          name: install
          command: sudo pip3 install -r requirements.txt

      - run:
          name: run tests
          command: |
            mkdir -p test-reports
            pytest --junit-xml=test-reports/junit.xml --cov=aft --cov-report=html test
            coveralls

      - store_test_results:
          path: test-reports

      - store_artifacts:
          path: test-reports

      - store_artifacts:
          path: htmlcov

# Orchestrate or schedule a set of jobs, see https://circleci.com/docs/2.0/workflows/
workflows:
  test-and-package:
    jobs:
      - test
